<h1>Edit Substance</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.substance_path(@conn, :update, @substance)) %>

<span><%= link "Back", to: Routes.substance_path(@conn, :index) %></span>
